html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
 ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
	box-sizing: border-box;
	padding: 20px 20px 20px 20px;
	}

body {
	color: white;
	font: 300 16px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #293f50;
}

/*
==============================
Grid
==============================
*/

*,
*:before,
*:after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.grid,
.container {
	margin: 0 auto;
	width: 960px;
}

.container {
	padding-left: 0px;
	padding-right: 30px;
}

.col-1-3 {
	width: 33.33%;
	display: inline-block;
	vertical-align: top;
}

.grid,
.col-1-3 {
	padding-left: 15px;
	padding-right: 15px;
}

/*
==============================
Clearfix
==============================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

.row{
	background: #DDD8C4;
	min-width: 400px;
	padding: 30px 50px 0px 40px;
	color: black;
	border-radius: 10px;
	font-size: 24px;
    line-height: 44px
}

.courses{
	background: #A3C9A8;
	min-width: 400px;
	padding: 50px 0px 64px 30px;;
	color: black;
	border-radius: 10px ;
	font-size: 24px;
    line-height: 44px;
}
}

/*
==============================
Typography
==============================
*/

h1, h2, h3, h4 {
	color: #648880;
}

h1 {
	font-size: 36px;
	line-height: 44px;
}

h2 {
	font-size: 24px;
	line-height: 44px;
	margin-bottom: 10px;
}

h3 {
	font-size: 21px;
}

h4 {
	font-size: 25px;
	text-transform: uppercase;
}

h5 {
	color: #50808E;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}

h1, h3, h4, h5, p {
	margin-bottom: 22px;
}

/*
==============================
Buttons
==============================
*/

.btn-base {
	border-radius: 5px;
	display: inline-block;
	margin: 0;
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.btn-gen {
	border: 1px solid #fff;
	padding: 10px 30px;
}

.btn-gen:hover {
	background: #fff;
	color: #648880;
}

/*================*/



.logo {
	
	padding: 20px 0 22px 0;
	float: left;
	font-size: 48px;
    line-height: 44px;
}

.tagline {
	margin: 66px 0 22px 0;
	text-align: right;
}

.primary-nav {
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: .5px;
	color: white;

}

.nav {
	text-align: right;
	color: white;
}

/*========*/

ol{
    padding-left:30px; 
 }


a:after{
    content:" "; 
    display:inline-block; 
    width:5px;
    color: white;
} 

 span:after{
    content:" "; 
    display:inline-block; 
    width:20px;
}