* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

header #header-section {
  background-color: #3859bc;
  padding: 20px 0 15px;
}
header #header-section .logo {
  background-image: url("../img/logo.png");
  background-position: 0;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 90px;
}

header #header-section p {
  color: #fff;
  text-align: right;
}

footer #footer-section {
  background-color: #3859bc;
  padding: 20px 0 20px;
}
footer #footer-section h3 {
  color: #fff;
}

.main-container {
  min-height: 70vh;
}
